h3 {
    margin: 20px;
    font-family: 'Bungee', cursive;
}

ul > p {
    word-wrap:break-word;
    font-family: 'Quicksand';
}

ul {
    width:800px;
}


img {
    width: 240px;
    height: 330px;
    border: 5px solid #000;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
}

#tree {
    font-family: 'Roboto Mono';
    text-align: center;
    margin: auto;
    height = 500px;
    width = 960px;
}

body {
    /*background: #f47c1b;*/
    background: #fdff50;
}

li {
    margin-bottom: 5px;
    margin-top: 5px;
}


input {
    font-family: Quicksand;
    text-align: center;
    margin: auto;

}

#input_person {
    width: 100px;
    height: 30px;
}

#clickme {
    height: 70px;
    width = 150px;
    font-size: 2em;
    border-radius: 25px;
    margin-top: 20px;
    background-color: blue;
}

.container {
    display: flex;
}
.container > div {
    flex: 1; /*grow*/
}